<a class="item" href="/user/view">
    <i class="user icon"></i>
    사용자관리
</a>
<a class="item" href="/trans/view">
    <i class="user icon"></i>
    친구내역
</a>
<a class="item" href="/send/view">
    <i class="user icon"></i>
    간편이체
</a>