
<a class="item" href="/send/view" >
    <i class="arrow alternate circle right icon"></i>
    간편이체
</a>

<a class="item" href="/receive/view" style="background-color: #FCC301">
    <i class="arrow alternate circle left icon"></i>
    받기
</a>