<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>회계자금개발 인턴 프로젝트</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <style>
        .content-container {
            margin: 20px;
        }
    </style>
    <script src="/semantic/semantic.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="ui sidebar inverted vertical visible menu">
        {{>layout/sidebar}}
    </div>
    <div class="pusher">
        <div class="ui container content-container">