<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakaobank.daina.assignment.mapper.AccInfoMapper">

    <select id="findBaccAll" resultType="AccInfo">
        <![CDATA[
            select  BACC_ID
                ,CTM_ID
                ,BACC_DATE
                ,BACC_TIME
                ,BACC_PART
                ,BACC_BALANCE
                ,CARD_ISSUE
                ,CARD_NUM
                ,BACC_PASS
                ,BACC_STATUS
                ,CNT_VER
            from ACC_IM
            where bacc_id = #{bacc_id}
        ]]>
    </select>

    <update id="update"
            parameterType="AccInfo">
        <![CDATA[
            UPDATE ACC_IM
            SET BACC_BALANCE = #{baccBalance}
            WHERE BACC_ID = #{baccId}
        ]]>
    </update>
    <update id="updateCnt"
            parameterType="AccInfo">
        <![CDATA[
            UPDATE ACC_IM
            SET CNT_VER = #{cntVer}
            WHERE BACC_ID = #{baccId}
        ]]>
    </update>

</mapper>