<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakaobank.daina.assignment.mapper.CancelTarMapper">

    <select id="findById" resultType="CancelTar">
        <![CDATA[
            select  t_id,
                    acc_id,
                    ctm_id,
                    re_kko_uid,
                    t_date,
                    t_time,
                    r_date,
                    r_time,
                    r_code,
                    c_sumup
            from cancel_tar
            where t_id = #{tId}
        ]]>
    </select>
    <select id="findOverDate" resultType="CancelTar">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                RE_KKO_UID ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                R_CODE ,
                C_SUMUP
            FROM cancel_tar
            WHERE R_CODE = "N"
            AND ((R_DATE <= date_format(NOW(), '%Y-%m-%d') AND R_TIME <= date_format(NOW(), '%H:%i:%s')) OR
                    R_DATE < date_format(NOW(), '%Y-%m-%d'))

        ]]>
    </select>

    <update id="updateRcode"
            parameterType="CancelTar">
        <![CDATA[
            UPDATE CANCEL_TAR
            SET R_CODE = #{rCode}, C_SUMUP = #{cSumup}
            WHERE T_ID = #{tId}
        ]]>
    </update>

    <insert id="insert"
            parameterType="CancelTar">
        <![CDATA[
            INSERT INTO CANCEL_TAR
            (
                T_ID
                ,ACC_ID
                ,CTM_ID
                ,RE_KKO_UID
                ,T_DATE
                ,T_TIME
                ,R_DATE
                ,R_TIME
                ,R_CODE
                ,C_SUMUP
            )
            VALUES
            (
                #{tId}
                ,#{accId}
                ,#{ctmId}
                ,#{reKkoUid}
                ,#{tDate}
                ,#{tTime}
                ,#{rDate}
                ,#{rTime}
                ,#{rCode}
                ,#{cSumup}
            )
        ]]>
    </insert>


</mapper>