<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakaobank.daina.assignment.mapper.ReceiverMapper">

    <select id="findAll" resultType="ReceiHis">
        <![CDATA[
            select RE_KKO_UID,
                   R_NAME,
                   R_NICK,
                   BOOKMARK,
                   T_DATE,
                   T_TIME
            from RE_HIS_TRANS
            order by
            (
              case bookmark
              when 'Y' then 1
              else 3 end
            ), t_date desc, t_time desc
            limit 30
        ]]>
    </select>
    <insert id="insert"
            parameterType="SimTransDetail" useGeneratedKeys="true" keyProperty="tId" keyColumn="t_id">
        <![CDATA[
            INSERT INTO SIM_TRANS_DETAIL (
                T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE )
            VALUES (
                #{tId}
                ,#{accId}
                ,#{ctmId}
                ,#{ctmName}
                ,#{rNick}
                ,#{rName}
                ,#{reKkoUid}
                ,#{tAmount}
                ,#{commission}
                ,#{tDate}
                ,#{tTime}
                ,#{rDate}
                ,#{rTime}
                ,#{tCode}
                ,#{cancelCode}
            )

        ]]>
    </insert>


</mapper>