<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakaobank.daina.assignment.mapper.SimTransDetailMapper">

    <select id="findTransAll" resultType="SimTransDetail">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE
            FROM SIM_TRANS_DETAIL
            WHERE T_ID = #{t_id}
        ]]>
    </select>

    <select id="findById"
            resultType="SimTransDetail">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE
            FROM SIM_TRANS_DETAIL
            WHERE T_ID = #{tId}
        ]]>
    </select>
    <update id="update"
            parameterType="SimTransDetail">
        <![CDATA[
            UPDATE SIM_TRANS_DETAIL
            SET T_AMOUNT = #{tAmount}
            WHERE T_ID = #{tId}
        ]]>
    </update>

    <select id="findDetail" resultType="SimTransDetail">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE
            FROM SIM_TRANS_DETAIL
            WHERE T_ID = #{t_id}
        ]]>
    </select>
    <update id="updatetCode"
            parameterType="SimTransDetail">
        <![CDATA[
            UPDATE SIM_TRANS_DETAIL
            SET COMMISSION = #{commission},
                T_DATE = #{tDate},
                T_TIME = #{tTime},
                R_DATE = #{rDate},
                R_TIME = #{rTime},
                T_CODE = #{tCode},
                T_AMOUNT  = #{tAmount}
            WHERE T_ID = #{tId}
        ]]>
    </update>
    <insert id="insert"
            parameterType="SimTransDetail" useGeneratedKeys="true" keyProperty="tId" keyColumn="t_id">
        <![CDATA[
            INSERT INTO SIM_TRANS_DETAIL (
                T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE )
            VALUES (
                #{tId}
                ,#{accId}
                ,#{ctmId}
                ,#{ctmName}
                ,#{rNick}
                ,#{rName}
                ,#{reKkoUid}
                ,#{tAmount}
                ,#{commission}
                ,#{tDate}
                ,#{tTime}
                ,#{rDate}
                ,#{rTime}
                ,#{tCode}
                ,#{cancelCode}
            )

        ]]>
    </insert>
    <select id="findSend" resultType="SimTransDetail">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE
            FROM SIM_TRANS_DETAIL
            WHERE RE_KKO_UID = #{reKkoUid} AND
                T_CODE = "C1"

        ]]>
    </select>
    <select id="findOverDate" resultType="SimTransDetail">
        <![CDATA[
            SELECT T_ID ,
                ACC_ID ,
                CTM_ID ,
                CTM_NAME ,
                R_NICK ,
                R_NAME ,
                RE_KKO_UID ,
                T_AMOUNT ,
                COMMISSION ,
                T_DATE ,
                T_TIME ,
                R_DATE ,
                R_TIME ,
                T_CODE ,
                CANCEL_CODE
            FROM SIM_TRANS_DETAIL
            WHERE cancel_code = "N"
            AND R_DATE <= date_format(NOW(), '%Y-%m-%d')
            AND R_TIME <= date_format(NOW(), '%H:%i:%s')
        ]]>
    </select>
    <update id="updateCancelCode"
            parameterType="SimTransDetail">
        <![CDATA[
            UPDATE SIM_TRANS_DETAIL
            SET CANCEL_CODE = "Y"
            WHERE T_ID = #{tId}
        ]]>
    </update>
</mapper>