{{>layout/top}}
<h2 class="ui center aligned icon header">
    <i class="user circle outline icon"></i>
    신다영
</h2>
<span class="hidden" id="username">신다영</span>
<h2 class="ui center aligned header">송금된 내역</h2>

{{#errorMessage}}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            오류!
        </div>
        <ul class="list">
            {{#messages}}
                <li>{{.}}</li>
            {{/messages}}
        </ul>
    </div>
{{/errorMessage}}

<table class="ui selectable celled striped table" id="cancel-list">
    <thead>
    <tr>
        <th>거래번호</th>
        <th>고객이름</th>
        <th>금액</th>
        <th>마감날짜</th>
        <th>마감시간</th>
    </tr>
    </thead>
    <tbody>
    <!-- 사용자 반복 출력
     데이터가 있고, 순회형 자료구조면
     반복해서 처리해준다.
    -->
    {{#transactions}}
        <tr>
            <td>
                <!-- 사용자 반복 출력
                    객체 내부의 변수를 가져온다
                -->
                {{tId}}
            </td>
            <td>
                {{rName}}
            </td>
            <td>
                {{tAmount}}
            </td>
            <td>
                {{rDate}}
            </td>
            <td>
                {{rTime}}
            </td>
        </tr>
    {{/transactions}}
    </tbody>
</table>

<div>
    <!-- 사용자 추가삭제 부분 -->
    <div id="nextField" class="field hidden">
        <form class="ui form" method="post">

            <div class="field ">
                <input  id="form-tId" type="text" name="tId" placeholder="거래번호">
            </div>
            <button id="lastbutton" class="ui secondary button" type="submit" formaction="/cancel/money">확인</button>
        </form>
    </div>

    <script>
        $('.ui.dropdown').dropdown();
        <!-- 테이블 내, 줄 클릭하면 아래 입력 폼으로 보내주는 소스 -->
        $('#cancel-list tbody tr').click(function() {
            const td = $(this).children();

            const tId = td.eq(0).text().trim();

            $('#form-tId').val(tId);

            $('#lastbutton').trigger("click");
        });


    </script>
</div>
