{{>layout/top}}
<h2 class="ui center aligned icon header">
    <i class="user circle outline icon"></i>
    신다영
</h2>
<span class="hidden" id="username">신다영</span>
<h2 class="ui center aligned header">송금된 내역</h2>

{{#errorMessage}}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            오류!
        </div>
        <ul class="list">
            {{#messages}}
                <li>{{.}}</li>
            {{/messages}}
        </ul>
    </div>
{{/errorMessage}}

<table class="ui selectable celled striped table" id="receive-list">
    <thead>
    <tr>
        <th>거래번호</th>
        <th>고객이름</th>
        <th>금액</th>
        <th>마감날짜</th>
        <th>마감시간</th>
    </tr>
    </thead>
    <tbody>
    <!-- 사용자 반복 출력
     데이터가 있고, 순회형 자료구조면
     반복해서 처리해준다.
    -->
    {{#transactions}}
        <tr>
            <td>
                <!-- 사용자 반복 출력
                    객체 내부의 변수를 가져온다
                -->
                {{tId}}
            </td>
            <td>
                {{rName}}
            </td>
            <td>
                {{tAmount}}
            </td>
            <td>
                {{rDate}}
            </td>
            <td>
                {{rTime}}
            </td>
        </tr>
    {{/transactions}}
    </tbody>
</table>

<div>
    <!-- 사용자 추가삭제 부분 -->
    <div id="nextField" class="field hidden">
        <form class="ui form" method="post">
            <div class="field ui input">
                <input id="form-inputrAccId" name="rrAccId" placeholder="계좌번호 입력">
            </div>
            <button class="ui secondary button" type="submit" formaction="/receive/money">확인</button>
            <div class="field hidden">
                <input  id="form-tId" type="text" name="tId" placeholder="거래번호">
                <input  id="form-rName" type="text" name="rName" placeholder="수취인이름">
                <input  id="form-rAccId" type="text" name="rAccId" placeholder="수취인계좌번호">
            </div>

        </form>
    </div>

    <script>
        $('.ui.dropdown').dropdown();
        <!-- 테이블 내, 줄 클릭하면 아래 입력 폼으로 보내주는 소스 -->
        $('#receive-list tbody tr').click(function() {
            $('#nextField').removeClass('hidden');

            const td = $(this).children();

            const tId = td.eq(0).text().trim();
            const rName = td.eq(1).text().trim();
            const rAccId = $('#form-rAccId').val();

            $('#form-tId').val(tId);
            $('#form-rName').val(rName);

            const username = $('#username').text();
            const receivename = $('#form-rName').val();


            axios.post("/receive/verifyName", {
                    'username': username,
                    'receivename': receivename,
                    'tId': tId
                }).then((response) => {// 성공시

                }).catch((error) => {
                    $('#check-password').text(error.response.data.messages[0]);
                    location.href = "/receive/fail";
            })
        });
        $('#form-inputrAccId').keyup(function() {
            const rAccId = $('#form-inputrAccId').val();

            $('#form-rAccId').val(rAccId);
        });


    </script>
</div>