{{>layout/top}}

{{#errorMessage}}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            오류!
        </div>
        <ul class="list">
            {{#messages}}
                <li>{{.}}</li>
            {{/messages}}
        </ul>
    </div>
{{/errorMessage}}

    <div style="display: none;">
        {{#transactions}}
                <span id="bacc_id" name="baccId" class="ui dividing header">{{baccId}}</span>
                <span id="ctm_id" name="ctmId" class="ui dividing header">{{ctmId}}</span>
                <span id="bacc_balance" name="baccBalance" class="ui dividing header">{{baccBalance}}</span>
                <span id="bacc_status" name="baccStatus" class="ui dividing header">{{baccStatus}}</span>
        {{/transactions}}
        {{#transactions2}}
                <span id="t_id" name="tId" class="ui dividing header">{{tId}}</span>
                <span id="r_name" name="rName" class="ui dividing header">{{rName}}</span>
                <span id="r_nick" name="rNick" class="ui dividing header">{{rNick}}</span>
                <span id="re_kko_uid" name="reKkoUid" class="ui dividing header">{{reKkoUid}}</span>
        {{/transactions2}}
    </div>

    <form class="ui form" method="post">
        <h2 id="out-bacc-amount" name="amountMessage" type="text">거래 가능</h2>
        <input id="form-bacc-amount" type="number" name="tAmount" placeholder="금액 입력"/>
        <input hidden id="form-password" type="number" name="baccPass" placeholder="비밀번호란"/>
        <input hidden id="form-t-id" type="number" name="tId" placeholder="아이디내려받을곳"/>

        <div style="display: none;">
            <button id="lastbutton" class="ui primary button" type="submit" formaction="/send/money">최종 확인</button>
        </div>


    </form>
    <button name="amountbutton" class="ui primary button" >확인</button>

    <div class="ui modal amount" name="amountModal">
        <div class="header">간편이체정보확인</div>
        <span>           </span>
        <span name="s_rName"></span>(
            <span name="s_rNick"></span> ) 에게
            <span name="s_amount"></span> 원을 이체하시겠습니까?
        <div class="actions">
            <div class="ui cancel button" name="cancelTrans">이체내역취소</div>
            <div class="ui approve button" name="approveTrans">이체내역확인</div>
        </div>
    </div>
    <div class="ui modal password" name="passwordModal">
        <div id="check-password" class="header">비밀번호를 입력해주세요</div>
        <input id="form-password" type="password" name="input_password" placeholder="비밀번호란"/>
        <div class="actions">
            <div class="ui cancel button" name="cancelpassword">취소</div>
            <div class="ui button" id="checkpassword" type="submit" formaction="successtrans">비밀번호 입력</div>

        </div>
    </div>

<script>
    var door = 0;
    $('button[name="amountbutton"]').click(function() {
            if(door == 1){
                $('.ui.modal.amount')
                    .modal('show')
                ;
                const rName = $('span[name=rName]').text();
                const rNick = $('span[name=rNick]').text();
                const tId = $('span[name=tId]').text();
                const tAmount = $('input[name=tAmount]').val();

                $('span[name=s_rName]').text(rName);
                $('span[name=s_rNick]').text(rNick);
                $('span[name=s_amount]').text(tAmount);
                $('input[name=tId]').val(tId);
            }

    });
    $('div[name="approveTrans"]').click(function() {
            $('.ui.modal.password')
                .modal('show')
            ;

    });

    $('#checkpassword').click(function() {
        const password = $('input[name=input_password]').val();

        const bacc_id = $('span[name=baccId]').text();
        axios.post("/send/verifyPassword", {
            'baccPass': password,
            'baccId': bacc_id
        }).then((response) => {// 성공시
            $('input[name=baccPass]').val(password);
            $('#lastbutton').trigger("click");
            $('.ui.modal.password').modal('hide');
        }).catch((error) => {
            $('#check-password').text(error.response.data.messages[0]); // 실패 시 데이터, JSON.stringify 할 필요 없이, 변수에서 데이터 빼시면 됩니다.
        })

    });
    $('#form-bacc-amount').keyup(function() {
        const baccBalance = $('span[name=baccBalance]').text();
        if(parseInt(baccBalance) < parseInt($('#form-bacc-amount').val())){
            $('#out-bacc-amount').text( "송금 금액을 확인해주세요." );
            door = 0;
        }else{
            $('#out-bacc-amount').text( "거래 가능" );
            door = 1;
        }
    });


</script>

{{>layout/bottom}}
